html {
  box-sizing: border-box;
  font: normal 100% ;
  moz-text-size-adjust:100%;
	ms-text-size-adjust:100%;
	webkit-text-size-adjust:100%;
	text-size-adjust:100%;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
}


*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
}

nav{
	padding: .5em;
	margin: 0;
}

	.masthead img{
		max-width: 60px;
		margin:10px;
	}

.masthead{
	padding: 0;
}

.masthead a{
	background-color: #33F0D6;
	padding: .5em;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	display: inline-block;
	float: right;
	margin: .5em;
	box-shadow: 1px 1px 5px #888;
}

h1{
	font-size: 45px;
	line-height: 15px;
}

h2{
	font-size: 45px;
	line-height: 15px;
}

p{
	line-height: 1.8em;
}

.profile{
	padding: 1em;
}

.profile img{
	width: 100%;
}

.profile a{
	background-color: #33F0D6;
	padding: .5em;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	box-shadow: 1px 1px 5px #888;
}

h3{
	font-size: 25px;
	text-align: center;
	color: #000;
	font-weight: 300;
}

.about-me{
	background-color: #DBDBDB;
	padding:1em;
	position: relative;
}

.recent-work{
	background-color: #F7F7F7;
	padding:0;
}

.recent-work h3{
	padding:1em;
	margin: 0;
}

.recent-work img{
	width: 100%;
	position: relative;
	float: center;
  width: 100%;
}

.recent-work a{
	padding: 0.4em 1em 0.5em;
	position: absolute;
	top: 15px;
	left: 0;
	background-color: #33F0D6;
	box-shadow: 0 2px 6px rgba(0,0,0,0.75);
	color: #fff;
	text-decoration: none;
}

hr{
	width: 85%;
}

.buttons img{
	width: 4em;
	display: inline-block;
}

footer{
	background-color: #393939;
	color: #fff;
	padding: 1em;
	text-align: center;
}

footer p{
	line-height: 30%;
}

footer li{
	background-color: black;
	list-style: none;
	display: inline-block;
	width: 50%;
}

footer h3{
	color: #33F0D6;
	font-size: 1.5em;
}

hr{
	border-color: #33F0D6;
}

	footer a{
		color: #fff;
		text-decoration: none;
	}

@media only screen and (min-width: 20em ){

	html{
		line-height: 1.25em;
	}

	.masthead img{
		width: 44px;
	}

	.work img{
		width: 100%;
	}

	.masthead img{
	width: 60px;
}


@media only screen and (min-width: 40em ){

	html{
		font-size: 110%;
		line-height: 2em;
	}

	.profile img{
		width: 50%;
		display: inline-block;
		vertical-align: bottom;
	}

	 .profile-text{
 	display: inline-block;
 	vertical-align: bottom;
 	margin: .5em;
 }

 h3{
 	font-size: 30px;
 }

	.about-me{
		display: inline-block;
		margin-top: 20px;
	}

	.recent-work{
		text-align: center;
	}

	.recent-work figure{
		width: 45%;
		margin: .5em;
		display: inline-block;
}


}
