html {
  box-sizing: border-box;
  font: normal 100% ;
  moz-text-size-adjust:100%;
	ms-text-size-adjust:100%;
	webkit-text-size-adjust:100%;
	text-size-adjust:100%;
	font-family: 'Oxygen', sans-serif;
}


*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
}

nav{
	background-color: #393939;
	color: #fff;
	padding: 1em;
	margin: 0;
}

.masthead{
	padding: 0;
}

.masthead a{
	background-color: #DBDBDB;
	padding: .5em;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
}

h1{
	font-size: 40px;
	line-height: 15px;
}

h2{
	font-size: 40px;
	line-height: 15px;
}

.profile{
	padding: 1em;
	padding-bottom: 4em;
}

.profile img{
	width: 100%;
}

.profile a{
	background-color: #DBDBDB;
	padding: .5em;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
}

h3{
	font-size: 25px;
	text-align: center;
}

.about-me{
	background-color: #DBDBDB;
	padding:1em;
}

.recent-work{
	background-color: #F7F7F7;
	padding:1em;
}

footer{
	background-color: #393939;
	color: #fff;
	padding:1em;
}

@media only screen and (min-width: 20em ){

	.work img{
		width: 100%;
	}

	.masthead img{
	width: 25%;
	color: #fff;
}

	footer img{
		width: 23%;
	}


}
