@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font: normal 100% ;
  moz-text-size-adjust:100%;
	ms-text-size-adjust:100%;
	webkit-text-size-adjust:100%;
	text-size-adjust:100%;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
}


*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin: 0;
}

nav{
	padding: .5em;
	margin: 0;
}

	.masthead img{
		max-width: 60px;
		padding-top: 2%;
	}

.masthead{
	padding: 0;
}

.masthead a{
	background-color: #33F0D6;
	padding: .5em;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	float: right;
	margin: .5em;
	box-shadow: 1px 1px 5px #888;
}

h1{
	font-size: 45px;
	line-height: 15px;
}

h2{
	font-size: 45px;
	line-height: 15px;
}

h3{
	font-size: 25px;
	text-align: center;
	color: #000;
	font-weight: 300;
}

p{
	line-height: 1.8em;
}

.profile{
 margin: 1.5em;
}

.profile img{
	width: 100%;
	max-width: 294px;
	margin: 20px;
}

.profile a{
	background-color: #33F0D6;
	padding: .5em;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	box-shadow: 1px 1px 5px #888;
}

.profile a:hover{
	background-color: #DBDBDB;
}


.about-me{
	background-color: #DBDBDB;
	padding:1em;
	position: relative;
}

.contact{
	text-align: center;
	padding-bottom: 20px;
}

.buttons img{
	width: 46px;
	display: inline-block;
}

.buttons img:hover{
}

.contact{
	background-color: #848484;
	margin: 0;
	padding: 16px;
}

.contact h3{
	color: #33F0D6;

	padding: 25px;
	margin: 0;
}

.contact p{
	margin: 0;
	color: #fff;
}

footer{
	background-color: #393939;
	color: #fff;
	padding: 1em;
	text-align: center;
}

footer p{
	line-height: 30%;
}

	footer a{
		color: #fff;
		text-decoration: none;
	}

	.rights{
		font-size: 80%;
	}

@media only screen and (min-width: 15em ){
/* 240px */
	h2{
		font-size: 35px;
		line-height: 1em;
	}

	.contact img{
		width: 60px;
		margin: 5px;
	}
}

@media only screen and (min-width: 20em){
/* 320px */

	html{
		line-height: 1.25em;
	}

	.masthead img{
		width: 44px;
	}

	.work img{
		width: 100%;
	}


@media only screen and (min-width: 40em ){
/* 640px */

	html{
		font-size: 110%;
		line-height: 2em;
	}

	.profile img{
		display: inline-block;
		vertical-align: bottom;
	}

	.profile-text{
 		display: inline-block;
 		vertical-align: bottom;
 		padding-left: 2px;
 		padding-bottom: 20px
 }

 .about-me{
 		padding-left: 40px;
 		padding-right: 40px;
 		height: 500px;
 		width: 50%;
		float: left;
 }

 h3{
 	font-size: 30px;
 }

	.contact{
		width: 50%;
		display: inline-block;
		height: 500px;
	}

	.contact img{
		display: inline-block;
		margin: 0;
	}

	.row{
		display: inline-block;
		background-color: #848484;
		margin-bottom: 0;

	}

}

@media only screen and (min-width: 56.25em ){


	body{
		padding-top: 1.5em;
	}

	h1{
		font-size: 45px;
		line-height: 1px;
	}

	.profile{
    margin: auto;
    width: 60%;
	}

	.about-me{
		width: 50%;
		float: left;
		padding: 1em;
		height: 400px;
	}

	.contact{
		width: 50%;
		float: left;
		height: 400px;
	}

	p{
		padding-left: 65px;
		padding-right: 65px;
	}
}

@media only screen and (min-width: 156.25em ){
}
